# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini
desktop.ini

# IDEs and editors
.vscode/
.idea/

# System Files
.DS_Store

# Ignore large videos and original photos folder
Fotos do iCloud de Fernanda Cardoso/
fotos fer/
*.mov
*.MOV
*.mp4
*.MP4
push.bat
push_error.txt
resize.ps1